.user {
    display: inline-flex;
    border: 1px solid #61dafb;
}

.user__image {
    border-radius: 45%;
    width: 80px;
    height: 80px;
    background-color: #61dafb;
    background-size: cover;
    background-position: center;
}

.user__name {
    align-self: flex-end;
    text-align: center;
}

.active {
    border: 4px solid mediumspringgreen;
}
