$imageSize: 80px;

.user {
  display: inline-block;
  text-align: center;

  &:hover {
    .user__remove {
      visibility: visible;
    }
  }

  .user__image {
    border-radius: 45%;
    width: $imageSize;
    height: $imageSize;
    text-indent: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid #111;

    &.active {
      border-radius: 45%;
      border: 4px solid mediumspringgreen;
    }

    &.disabled {
      border-radius: 45%;
      border: 4px solid #888888;
    }
  }

  .user__name {
    display: block;
    position: relative;
    bottom: 0;
  }

  .user__remove {
    visibility: hidden;
    margin: 0 $imageSize;
    display: flex;

    &:hover {
      opacity: 0.6;
      color: #f00;
    }
  }

  .user__name--text:hover {
    cursor: pointer;
  }

  .user__name--text, .user__name--text > input {
    width: 100%;
    text-align: center;
  }

}


