.circle-chart__circle {
    animation: circle-chart-fill .2s reverse;
    transform: rotate(-90deg);
    transform-origin: center;
}

@keyframes circle-chart-fill {
    to {
        stroke-dasharray: 100;
    }
}

