.app {
    text-align: center;
    background: #20002c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cbb4d4, #20002c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cbb4d4, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hide {
    text-align: left;
    background: #222;
    color: #888;
    font-size: 11px;
}

.pointer {
    cursor: pointer;
}
