:root {
  --color: #f3f3f3;
  --background: #21282d;
  --header-color: #e784a2;
  --link-color-darker: #ef4276;
  --highlight-color: #85b5c7;
  --base-padding: 10px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#bg-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  position: absolute;
  background-image: url("https://images.unsplash.com/photo-1528920304568-7aa06b3dda8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80");
  filter: grayscale(90%);

  #bg-overlay {
    position: absolute;
    background: rgba(33, 40, 45, 0.75);
    width: 100%;
    height: 100%;
    z-index: -5;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
